#menu {position:absolute;
       right:0px;top:0px;color:white;text-transform:none;
       font-size:12px;background-image: url("/images/transparent-bg.png");
       background-size: 3px;padding:6px 12px;}

#menu a {color:white;text-decoration:none;}

#menu a:hover {text-decoration:underline;color:yellow;}

#menu strong {color:yellow;}
		
body {
	background-color: #181818;
	color: #111111;
	font-family: Courier New;
	text-transform: uppercase;
	}
	
#container {position:absolute;left:50%;width:420px;margin-left:-210px;}

#container p {color:white;font-size:10px;}

#container p a {color:white;}

#container p a:hover {color:yellow;}

#BigLaunchButton {text-align:center;margin-top:50px;margin-bottom:50px;}
  
  #BigLaunchButton a {text-transform:uppercase;color:white;text-decoration:none;font-weight:bold;font-size:20px;background-color:#666666; padding:10px 16px;border:4px solid white;border-radius:10px;}	
	
  #BigLaunchButton a:hover {color:yellow;}
  
  #marquee {width:420px;height:420px;border-radius: 12px 12px 12px 12px;image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;}


.item {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-right: 20px;
	}

.item pre {
	white-space: pre-wrap;
	word-wrap: break-word;
	background-color: #ffffff;
	padding: 5px;
	border-radius: 0px 0px 0px 0px;
	font-family: Courier New;
	font-size: 11px;
	line-height: 1.5;
	margin: 1px 0;
		}

#data-container {text-align:center;}	


#data-container img {
	border-radius: 12px 12px 0px 0px;
	max-width: 100%;
	height: 210px;
        overflow:hidden;
	display: block;
	margin: 2px auto;
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
        background-image: url("/images/transparent-bg.png");
        background-size: 3px;
      }

button {
	background-color: #666666;
	color: white;
	padding: 10px 20px;
	border-radius: 12px ;
	font-size: 12px;
	cursor: pointer;
	margin-top: 10px;
       margin-bottom:30px;
		}
	
button:hover {background-color: #999999;}

h1 {
	margin-top:40px;color:#111111;
	font-family:helvetica,arial;
	text-shadow: -1px -1px 0 yellow, 1px -1px 0 yellow, -1px 1px 0 yellow, 1px 1px 0 yellow;
	text-align:center;margin-bottom:0px;
	}
	
h1 a {text-decoration:none;color:#181818;}

#copyright {color:white;text-align:center;text-transform:none;font-size:16px !important;margin-top:50px;}

h2 {
	color:white;text-align:center;font-family:serif;
	text-transform: none;font-size:18px;
	}
	
h3 {color:white;text-align:center;}

#data-container {
	text-align:center;
	}
	
#asset-container {text-align:center;}

#asset-container img {border-radius: 12px 12px 12px 12px;
	background-image: url("/images/transparent-bg.png");
        background-size: 3px;}
	
#asset-container pre {color:white;text-align:center;}
#asset-container pre a {color:white;text-align:center;}

#pagination-container-top {text-align:center;}
#pagination-container-top button {margin:10px;background-color:black;}
#pagination-container-bottom {text-align:center;}
#pagination-container-bottom button {margin:10px;background-color:black;}
#pagination-container-top button,
#pagination-container-bottom button {
  margin: 0 5px;
}


#upload-form {text-transform:none;color:white;text-align:center;}
#output {text-transform:none;color:white;text-align:center;}
#confirmation-message {text-transform:none;color:white;text-align:center;}
#notes {text-transform:none;color:white;text-align:center;font-size:12px;color:red;}
#please-wait {text-transform:none;color:white;text-align:center;}
label {text-transform:none;margin:40px;display:block;}
#bitcoin-address {text-transform:none;height:30px;font-size:22px;border:2px solid yellow;background-color:#000000;color:yellow;font-family:monospace;}
#creator-name {text-transform:none;height:30px;font-size:22px;border:2px solid yellow;background-color:#000000;color:yellow;font-family:monospace;}
#collection-name {text-transform:none;height:30px;font-size:22px;border:2px solid yellow;background-color:#000000;color:yellow;font-family:monospace;}
#asset-lock {text-transform:none;height:30px;font-size:22px;border:2px solid yellow;background-color:#000000;color:yellow;font-family:monospace;}
#asset-issuance {text-transform:none;height:30px;font-size:22px;border:2px solid yellow;background-color:#000000;color:yellow;font-family:monospace;}

#search-form {text-align:center;}
#search-form label {color:white;margin-bottom:0px;}
#search-input {border:1px solid yellow;background-color:black;font-size:16px;color:white;padding:8px;}

.lock-asset-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-link {
	text-decoration: none;
	color: white;
  }
  
.title-link:hover {
color: yellow;
}
