#menu {position:absolute;
       right:0px;top:0px;color:white;text-transform:none;
       font-size:12px;background-image: url("/images/transparent-bg.png");
       background-size: 3px;padding:6px 12px;}

#menu a {color:white;text-decoration:none;}

#menu a:hover {text-decoration:underline;color:yellow;}

#menu strong {color:yellow;}
		
body {
	background-color: #181818;
	color: #111111;
	font-family: 'Courier New', monospace;
	/* text-transform: uppercase; */
	}
	
#container {position:absolute;left:50%;width:420px;margin-left:-210px;}

#container p {color:white;font-size:10px;}

#container p a {color:white;}

#container p a:hover {color:yellow;}

#BigLaunchButton {text-align:center;margin-top:50px;margin-bottom:50px;}
  
#BigLaunchButton a {text-transform:uppercase;color:white;text-decoration:none;font-weight:bold;font-size:20px;background-color:#666666; padding:10px 16px;border:4px solid white;border-radius:10px;}	

#BigLaunchButton a:hover {color:yellow;}

#marquee {width:420px;height:420px;border-radius: 12px 12px 12px 12px;image-rendering: pixelated;
image-rendering: -moz-crisp-edges;
image-rendering: crisp-edges;}


.item {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-right: 20px;
	margin-bottom: 20px;
	}

.item pre {
	white-space: pre-wrap;
	word-wrap: break-word;
	background-color: #ffffff;
	padding: 5px;
	border-radius: 0px 0px 0px 0px;
	font-family: 'Courier New', monospace;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.5;
	margin: 1px 0;
		}

#asset-details-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	overflow-wrap: break-word;
	word-wrap: break-word; 

	/* display: grid; */
	grid-template-columns: 1fr; /* One column layout */
	gap: 10px; /* Space between grid items */
	padding: 10px;
	max-width: 420px; /* Adjust as needed */
	margin: auto;
	align-items: center;
}
		
#asset-details-grid grid-item {
	background-color: #181818;
	color: white;
	padding: 5px;
	border-radius: 0;
	font-family: 'Courier New';
	font-size: 14px;
	font-weight: normal;
	line-height: 1.5;
	margin: auto;
	text-align: center;
	display: block;
	white-space: pre-wrap;
	word-wrap: break-word;
}
		
#asset-details-grid a {
    color: white; /* or any color you prefer */
    text-align: center;
    display: block; /* This makes the anchor tag take the full width of the grid column */
    margin: auto; /* Centers the block-level element horizontally */
    padding: 5px;
    text-decoration: none; /* Optional: removes underline from links */
}

#asset-details-grid a:hover {
    color: #ff0; /* or any hover color you prefer */
}

.item .creator-info {
	white-space: pre-wrap;
	word-wrap: break-word;
	background-color: #ffffff;
	padding: 5px;
	border-radius: 0px 0px 12px 12px;
	font-family: 'Courier New', monospace;
	font-size: 12px;
	line-height: 1.5;
	margin: 1px 0;
	}

#data-container {
	text-align: center;
	display: block;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#data-container img {
	border-radius: 12px 12px 0 0;
	max-width: 210px;
	height: 210px;
	display: block;
	overflow: hidden;
	margin: 2px auto;
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
	background-image: url("/images/transparent-bg.png");
	background-size: 3px;
}
	
button {
	color: white; 
	background-color: black;
	text-decoration: none;
	/* font-weight: bold;  */
	font-size: 12px; 
	padding: 7px;
	border: 1px solid white;
	border-radius: 12px;
	text-transform: uppercase;
	font-family: 'Courier New', monospace;
	cursor: pointer;    
	margin-right: 2px;     
	margin-left: 2px;
	margin-top: 8px;
	margin-bottom: 8px;
	vertical-align: middle;
		}
button:hover {
	background-color: #666666;
	color: yellow;  }
  

h1 {
	margin-top:40px;color:#111111;
	font-family:helvetica,arial;
	text-shadow: -1px -1px 0 yellow, 1px -1px 0 yellow, -1px 1px 0 yellow, 1px 1px 0 yellow;
	text-align:center;margin-bottom:0px;
	}
	
h1 a {text-decoration:none;color:#181818;}

#copyright {color:white;text-align:center;text-transform:uppercase;font-size:14px !important;margin-top:50px;}

h2 {
	color:white;
	text-align:center;
	font-family: 'Courier New', monospace;
	font-weight: normal;
	/* font-family:serif; */
	text-transform: uppercase;font-size:18px;
	}
	
h3 {color:white;
    text-align:center;
	text-transform: uppercase;}


#asset-container {
	width: 100%;
	text-align: center;
	padding: 10px;
  }
  
  #asset-container img {
	border-radius: 12px;
	background-image: url("/images/transparent-bg.png");
	background-size: 3px;
	max-width: 100%;
	height: auto;
  }
  
  #asset-container .grid-item, #asset-container a {
	color: white;
	text-align: center;
	display: block; /* Ensure full width usage */
  }
  #asset-container pre {color:white;text-align:center;}
  #asset-container pre a {color:white;text-align:center;}

#pagination-container-top,
#pagination-container-bottom {
  /* text-align: center; This will center inline and inline-block elements */
  /* Alternatively, use flexbox to center the buttons horizontally */
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allows buttons to wrap to the next line on smaller screens */
  align-items: center;
  margin: 8px;
}

#pagination-container-top button,
#pagination-container-bottom button {
  /* margin: 80px 20px; */
  margin-top: 8px;
  margin-bottom: 8x;
  margin-left: 4px;
  margin-right: 4px;
  background-color: black;
  /* margin: 20px */
}


/* Media query for screens that are 768px wide or less */
@media (max-width: 768px) {
    #asset-container {
        width: 80%; /* Adjust width as needed */
        padding: 10px; /* Adjust padding for smaller screens */
		height: auto;
		overflow-wrap: break-word;
		word-wrap: break-word; 
    }

	#asset-container img {
		max-width: 80%; /* Ensures the image is not wider than the container */
		height: auto; /* Maintains the aspect ratio of the image */
		/* Adjustments for images on smaller screens, if needed */
	}
	/* You can also adjust other elements within the container */
	#asset-container .grid-item, #asset-container a {
		overflow-wrap: break-word;
		font-size: smaller; /* Example: smaller font size for smaller screens */
	}
	#asset-details-grid {
		grid-template-columns: 1fr;
		word-break: break-all;
	}

	#asset-details-grid .grid-item {
		border-radius: 12px;
		overflow-wrap: break-word;
		word-wrap: break-word; 
	}

	#data-container {
		width: 100%; 
		padding: 8px; /* Adjust padding for smaller screens */

	}
	#data-container img {
		width: 100%;
    }

	#pagination-container-top {
	  display: none; /* This will hide the top pagination buttons on small screens */
	}
  
	#pagination-container-bottom button {
	  width: 100%; /* Make each button take the full container width */
	  margin-bottom: 10px; /* Add space between the stacked items */
	}
  
	#pagination-container-bottom {
	  display: flex;
	  flex-direction: column; /* Stack the flex items vertically */
	  align-items: center; /* Center align the buttons */
	}
  }



#upload-form {text-transform:none;color:white;text-align:center;}
#output {text-transform:none;color:white;text-align:center;}
#confirmation-message {text-transform:none;color:white;text-align:center;}
#notes {text-transform:none;color:white;text-align:center;font-size:12px;color:red;}
#please-wait {text-transform:none;color:white;text-align:center;}
label {text-transform:none;margin:40px;display:block;}
#bitcoin-address {text-transform:none;height:30px;font-size:22px;border:2px solid yellow;background-color:#000000;color:yellow;font-family:monospace;}
#creator-name {text-transform:none;height:30px;font-size:22px;border:2px solid yellow;background-color:#000000;color:yellow;font-family:monospace;}
#collection-name {text-transform:none;height:30px;font-size:22px;border:2px solid yellow;background-color:#000000;color:yellow;font-family:monospace;}
#asset-lock {text-transform:none;height:30px;font-size:22px;border:2px solid yellow;background-color:#000000;color:yellow;font-family:monospace;}
#asset-issuance {text-transform:none;height:30px;font-size:22px;border:2px solid yellow;background-color:#000000;color:yellow;font-family:monospace;}


.search-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;

  }
  
  #search-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
	flex-direction: row;
 }
  
/* Media query for screens that are 768px wide or less */
 @media (max-width: 768px) {
    #search-input,
    #query-select {
		width: 100%;
        text-align: center;
    }
    #search-form button {
		/* width: calc(min(100%, 230px)); */
		width: 100%;
        text-align: center;
    }
  
    #search-form {
        flex-direction: column;
        gap: 10px;
    }
 }


  #search-input {
	text-decoration: none;
	font-size: 12px; /* Corrected from '12x' to '12px' */
	padding: 7px;
	background-color: black;
	color: white;
	border: 1px solid yellow;
	border-radius: 12px;
	text-transform: uppercase;
	font-family: 'Courier New', monospace;
	width: 230px;
	margin-right: 4px;
	margin-left: 4px;
	margin-top: 2px;
	margin-bottom: 2px;
	vertical-align: middle;
  }


  #query-select {
	color: white;
	background-color: black;
	text-decoration: none;
	font-size: 12px;
	padding: 7px;
	border: 1px solid yellow;
	border-radius: 12px;
	text-transform: uppercase;
	text-align: center;
	align-items: center;
	font-family: 'Courier New', monospace;
	margin-right: 4px;
	margin-left: 4px;
	margin-top: 2px;
	margin-bottom: 2px;
	vertical-align: middle;
  }
  
  #search-form button {
	color: white;
	text-decoration: none;
	font-size: 12px;
	padding: 7px;
	border: 1px solid yellow;
	border-radius: 12px;
	text-transform: uppercase;
	text-align: center;
	align-items: center;
	font-family: 'Courier New', monospace;
	cursor: pointer;
	margin-right: 4px;
	margin-left: 4px;
	margin-top: 2px;
	margin-bottom: 2px;
	vertical-align: middle;
  }
  
  #search-form button:hover {
	color: yellow;
	background-color: #666666;
  }


.lock-asset-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-link {
	text-decoration: none;
	color: white;
  }
  
.title-link:hover {
color: yellow;
}

.normal-case {
	text-transform: none;
}