body {
    background-color: #181818;
    color: #6d6b6b;
    font-family: Courier New;
    text-transform: uppercase;
}

.container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="text"] {
    width: 60%;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #3d3a3a;
    color: white; 
    border: 1px solid #3d3a3a; 
}

button {
    display: inline-block;
    background-color: #666666;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    font-size: 12px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 30px;
}

button:hover {
    background-color: #555555;
}


.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    padding: 15px;
}

#output {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 15px;
}

.item > p:not(:last-child) {
    margin-bottom: 0;
}

.item > p:nth-child(2) {
    white-space: pre-wrap;
}

.item > p:nth-child(3) {
    white-space: pre-wrap;
}
